body{
    padding: 0 !important;
    margin: 0 !important;
}

img{
    width: 30%;
    height: 80vh;
}
.body-container{
    padding: 0 !important;
    overflow: hidden;
}
.image{
    width: 50%;
    height: 100vh;
    border-radius: 20px;
}